@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400&display=swap');
.content {
    font-family: 'Lato', sans-serif;
}

.app {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.footer {
    display: flex;
    justify-content: flex-end;
    background: #000;
    color: floralwhite;
}

.footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0;
}

.footer li {
    font-weight: 600;
    padding: 5px;
    border-right: 1px solid silver;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.list-group {
    width: 300px;
    text-align: center;
}